[submodule "tpm"]
	path = default/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash-sensible"]
	path = default/bash-sensible
	url = https://github.com/mrzool/bash-sensible/
[submodule "terminal-app"]
	path = terminal-app
	url = https://github.com/dracula/terminal-app.git
[submodule "gnome-terminal-colors-dracula"]
	path = gnome-terminal-colors-dracula
	url = https://github.com/GalaticStryder/gnome-terminal-colors-dracula
[submodule "bashdot"]
	path = bashdot
	url = https://github.com/bashdot/bashdot
[submodule "default/vim/pack/vim-sensible"]
	path = default/vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "default/vim/pack/vim-visualstar"]
	path = default/vim/pack/plugins/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar
[submodule "default/vim/pack/themes/start/dracula"]
	path = default/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "default/vim/pack/plugins/start/supertab"]
	path = default/vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "default/vim/pack/plugins/start/linediff.vim"]
	path = default/vim/pack/plugins/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "default/vim/pack/plugins/start/vim-fugitive"]
	path = default/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "default/vim/pack/plugins/start/vim-surround"]
	path = default/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "default/vim/pack/plugins/start/vim-gitgutter"]
	path = default/vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "default/vim/pack/plugins/start/vimtex"]
	path = default/vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "default/vim/pack/plugins/start/undotree"]
	path = default/vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "default/vim/pack/plugins/start/Recover.vim"]
	path = default/vim/pack/plugins/start/Recover.vim
	url = https://github.com/chrisbra/Recover.vim
[submodule "default/vim/pack/plugins/start/ale"]
	path = default/vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "default/zgen"]
	path = default/zgen
	url = https://github.com/tarjoilija/zgen
	branch = master
