**/config/nvim/undodir/

**/tmux/plugins
**/vim/.netrwhist
**/ipython/profile_default/history.sqlite
**/config/fish/functions/_*.fish

**/ssh/id_*
**/ssh/id_*.pub
**/ssh/*.pem
**/ssh/known_hosts*

**/*.rendered
**/.DS_Store
