default/config
default/config/nvim/pack/minpac/start/
default/config/nvim/undodir/
!default/config/nvim

default/local
default/tmux/plugins
default/vim/.netrwhist
default/ipython/profile_default/history.sqlite

default/ssh/id_rsa
default/ssh/id_rsa.pub
default/ssh/known_hosts

**/*.rendered
