[submodule "tpm"]
	path = tmux2/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "bash-sensible"]
	path = default/bash-sensible
	url = https://github.com/mrzool/bash-sensible/
[submodule "default/vim/pack/vim-sensible"]
	path = default/vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "default/vim/pack/vim-visualstar"]
	path = default/vim/pack/plugins/start/vim-visualstar
	url = https://github.com/thinca/vim-visualstar
[submodule "default/vim/pack/themes/start/dracula"]
	path = default/vim/pack/themes/start/dracula
	url = https://github.com/dracula/vim.git
[submodule "default/vim/pack/plugins/start/supertab"]
	path = default/vim/pack/plugins/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "default/vim/pack/plugins/start/linediff.vim"]
	path = default/vim/pack/plugins/start/linediff.vim
	url = https://github.com/AndrewRadev/linediff.vim
[submodule "default/vim/pack/plugins/start/vim-fugitive"]
	path = default/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "default/vim/pack/plugins/start/vim-surround"]
	path = default/vim/pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "default/vim/pack/plugins/start/vim-gitgutter"]
	path = default/vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "default/vim/pack/plugins/start/vimtex"]
	path = default/vim/pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "default/vim/pack/plugins/start/undotree"]
	path = default/vim/pack/plugins/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "default/vim/pack/plugins/start/Recover.vim"]
	path = default/vim/pack/plugins/start/Recover.vim
	url = https://github.com/chrisbra/Recover.vim
[submodule "default/vim/pack/plugins/start/ale"]
	path = default/vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "default/vim/pack/plugins/start/nvim-lspconfig"]
	path = default/vim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "default/vim/pack/plugins/start/vim-dadbod"]
	path = default/vim/pack/plugins/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "default/vim/pack/plugins/start/black"]
	path = default/vim/pack/plugins/start/black
	url = https://github.com/psf/black.git
[submodule "default/local/share/fonts/source-code-pro"]
	path = default/local/share/fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro.git
	branch = release
[submodule "default/vim/pack/plugins/start/vim-tmux-navigator"]
	path = default/vim/pack/plugins/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "default/vim/pack/minpack/opt/minpac"]
	path = default/config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "/home/vincent/dotfiles/default/config/nvim/pack/minpac/opt/minpac"]
	path = /home/vincent/dotfiles/default/config/nvim/pack/minpac/opt/minpac
	url = https://github.com/k-takata/minpac.git
[submodule "default/zgen"]
	path = default/zgen
	url = https://github.com/tarjoilija/zgen.git
[submodule "default/config/kitty/whiskers"]
	path = default/config/kitty/whiskers
	url = https://github.com/igrmk/whiskers.git
[submodule "dotdash"]
	path = dotdash
	url = https://github.com/vincentqb/dotdash
