git+https://github.com/vincentqb/dot.py
git+https://github.com/vincentqb/matplotlib-backend-sixel.git
git+https://github.com/vincentqb/vimwhisperer
git-remote-codecommit
jedi-language-server
nbqa
neovim
pip
pre-commit
pynvim
ruff
uv
virtualenv
